*,
*::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
}
.wrapper{
    background: linear-gradient(197deg, rgba(17,17,17,0.829656862745098) 20%, rgba(184,45,253,1) 87%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parent-div{
    width: 25%;
    height: auto;
    /* background-color: black; */

}
.heading{
    font-size: 30px;
    background-color: aqua;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.pass-parent{
    position: relative;
    margin-top: 5px;
    background-color: aqua;
    border-radius: 1rem;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}